*{
  margin: 0;
  padding: 0;
}
.app{
  padding-top: 2%;
}

#light {
    background-color: #ffffff;
}

#dark {
  background-color: #1f1f1f;
}

label {
  font-family: 'PT Sans Narrow', sans-serif;
  color: rgba(255,147,173,255);
}

.react-switch-bg div svg{
display: none;
}
